h1, h2, p, a {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 150px;
    border-radius: 15px;
}

h1, h2 {
    font-size: 24px;
    color: #f9faf8
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    padding: 8px;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 15px 32px;
    border-radius: 8px;
    width: 150px;
}
.top {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.hope {
    min-width: 300px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.text1 {
    color: #f9faf8;
}

.section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section3 {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}

.random {
    color: black;
    text-align: center;
}

.pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.section5 {
    background-color: #e5e7eb;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color:#1f2937;
}

.normal {
    text-align: right;
    font-weight: bold;
}

.section6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3882f6;
    margin: 100px;
    padding: 50px;
}

.action {
    color: white;
    font-weight: bold;
}

.sign {
    color: white;
}

.press {
    display: flex;
    border-color: white;
    max-width: 200px;
    max-height: 50px;
    justify-content: center;
}

.pressme {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}